@import url('https://fonts.googleapis.com/css2?family=Archivo+Expanded:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'STRRETCH SANS';
  src: url('../assets/STRRETCH SANS.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
